<div ng-app="paApp">
    <div ng-controller="paHomeCtrl" ng-cloak id="paHomeCtrl">

        <h1>Welcome to the Passive Agressive Events Listing!</h1>

        <p>Select your location: {{ foo }}</p>

        <button ng-repeat="loc in locations" class="btn btn-large locationButton {{loc.code}}"
                ng-show="show_loc_button(loc)"
                ng-click="set_loc(loc)"
                title="within 100 miles of zip code {{ loc.zip }}">{{ loc.name }}</button>
        <button ng-show="location" class="btn btn-warning all-locations" ng-click="all_loc()">All Locations</button>

        <div ng-show="event_buttons.length && location">

            <h2>Events in {{location.name }}:</h2>

            <p>Choose which events to view:</p>

            <button ng-repeat="eb in event_buttons" class="btn {{eb.event.id}}"
                    ng_click="view_events(eb)"
                    title="{{eb.event_type.label}} within 100 miles of zip code {{ eb.location.zip }}">
                {{eb.event_type.label}} in {{eb.location.name }}
            </button>

        </div>

    </div>
</div>