<script language="javascript">
    window._pa_search_query = {
        zip: '<%= zip %>',
        category: '<%= category %>'
    };

</script>
<div ng-app="paApp">
    <div ng-controller="paEventsCtrl" ng-cloak id="paEventsCtrl">
        <h1>{{category_label()}} in zip {{place_label()}} </h1>

        <div>
            <label for="search-input">Search</label>
            <input type="text" class="input input-xlarge" placeholder="Search" id="search-input"
                   ng-model="search_term.title"/>

        </div>

        <span ng-repeat="event in events | filter: search_term">
            <button ng-hide="event.expand" ng-click="expand_event(event)" class="btn btn-sm">{{ event.title }}</button>
            <div ng-show="event.expand">
                <h2>{{ event.title }}</h2>

                <p>{{ event_text(event) }} </p>

                <div class="event-times" ng-repeat="time in group_times(event.times)" >
                    <h3 class="event-times-venue">{{time.venue_name}}: </h3>
                    <ul>
                        <li ng-repeat="start in time.starts" title="{{start}}"><i>{{start | date:'MMM dd'}}</i> {{start | date:'hh:mm a'}} </li>
                    </ul>

                </div>
                <button ng-click="close_event(event)">&times; close</button>
            </div>
        </span>
    </div>
</div>