<script language="javascript">
    window._pa_search_query = {
        zip: '<%= zip %>',
        category: '<%= category %>'
    };

</script>
<div ng-app="paApp">
    <div ng-controller="paEventsCtrl" ng-cloak id="paEventsCtrl">


        <h1>{{category_label()}} in zip {{place_label()}} </h1>

        <div>
        <label for="search-input">Search</label>
            <input type="text" class="input input-xlarge" placeholder="Search" id="search-input" ng-model="search_term" />

        </div>


        <button class="btn btn-sm" ng-repeat="event in events | filter: search_term">{{ event.title }}</button>
    </div>
</div>