<script language="javascript">
    window._pa_search_query = {
        zip: '<%= zip %>',
        category: '<%= category %>',
        mock: '<%= mock %>'
    };

</script>
<div ng-app="paApp">
    <div ng-controller="paEventsCtrl" ng-cloak id="paEventsCtrl">
        <h1>{{category_label()}} in zip {{place_label()}} </h1>

        <div>
            <label for="search-input">Search</label>
            <input type="text" class="input input-xlarge" placeholder="Search" id="search-input"
                   ng-model="search_term.title"/>

        </div>

        <span ng-repeat="event in events | filter: search_term" class="event-list">
            <button ng-hide="event.expand" data-id="{{ event.id }}" ng-click="expand_event(event)"
                    class="btn btn-sm event-toggle-open">{{ event.title }}</button>
            <div ng-show="event.expand">
                <h2>{{ event.title }}</h2>

                <p>{{ event_text(event) }} </p>
              <p>
                  <button class="btn btn-xs" ng-show="show_playtime_button(null, event)" ng-click="show_all_playtimes(event)" >Show ALL Playtimes</button>
                  <button class="btn btn-xs event-toggle-close" ng-click="close_event(event)">&times; close</button>
              </p>

                <div class="event-times" ng-repeat="time in event.group_times" >
                    <h3 class="event-times-venue">{{time.venue_name}}
                    <button class="btn btn-xs pull-right event-times-venue-show-playtimes" ng-show="show_playtime_button(time, event)" ng-click="toggle_show_playtime(time)">Playtimes</button>

                    </h3>
                    <ul ng-show="show_event_time(time, event)">
                        <li ng-repeat="start in time.starts" title="{{start}}"><i>{{start | date:'MMM dd'}}</i> {{start | date:'hh:mm a'}} </li>
                    </ul>

                </div>
            </div>
        </span>
    </div>
</div>