<% if (events ) { %><h1>Search again</h1><% } else { %><h1>Search for events </h1><% } %>

<form class="form-horizontal" id="event-search-form" method="POST" action="/search">
    <div class="control-group">
        <label class="control-label" for="search-input">Location</label>

        <div class="controls">
            <input type="text" name="location" id="location-input" required placeholder="Search for location">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="search-input">Search Term</label>

        <div class="controls">
            <input type="text" name="search" id="search-input" required placeholder="Search for events">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Search for Events</button>
        </div>
    </div>
</form>

<% if (events) { %>
<h2><%= events.total_items %> Results: (page <%= events.page_number %> of <%= events.page_count %>)</h2>

<% if (false) { %>
        <pre>
            <%- JSON.stringify(events.events, true, 3) %>

        </pre>
<% } // if false
%>
        <style>
            .event-listing thead th {
                font-size: 100%;
                text-transform: uppercase;
                text-align: left;
                vertical-align: top;
            }
            .event-listing .title {
                font-weight: bold;
                font-size: 150%;
            }
            .event-listing .venue {
                min-width: 30em;
                font-weight: bold;
            }
        </style>
<table class="event-listing">
    <thead>
    <tr>
        <th>Venue</th>
        <th>Description</th>
    </tr>

    </thead>

    <tbody>
    <% events.events.event.forEach(function(e){ %>
    <tr>
        <td colspan="2" class="title"><%= e.title %></td>
    </tr>
    <tr>
        <td class="vanue"><h3><%= e.venu_name %></h3>
        <address><%= e.venue_address %></address></td>
        <td><%- e.description %></td>
    </tr>

    <% })// end foreach
    %>
    </tbody>
</table>
<% } // if events
%>
