<% if (events ) { %><h1>Search again</h1><% } else { %><h1>Search for events </h1><% } %>

<form class="form-horizontal" id="event-search-form" method="POST" action="/search">
    <div class="control-group">
        <label class="control-label" for="search-input">Location</label>

        <div class="controls">
            <input type="text" name="location" id="location-input" required placeholder="Search for location">

            <p>Within <input type="number" min="0" max="10000" name="radius" value="10"/> miles</p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="category-input">Category</label>

        <div class="controls">
            <select name="category" id="category-input">
                <% cats.forEach(function(cat){ %>
                <option value="<%= cat.id %>"><%= cat.name %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="search-input">Search Term (optional)</label>

        <div class="controls">
            <input type="text" name="search" id="search-input" required placeholder="Search for events">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Search for Events</button>
        </div>
    </div>
</form>

<% if (events) { %>
<h2> Results: </h2>

<div class="row-fluid">
    <div class="span6">
        <h3><%= events.length %> Events</h3>
        <% events.forEach(function(event){ %>
        <h4><%= event.title %></h4>

        <% }) %>
    </div>
    <div class="span6">
        <h3><%= venues.length %> Venues</h3>
        <% venues.forEach(function(venue){ %>
        <h4><%= venue.venue_name %></h4>
        <% }) %>
    </div>

</div>
<% } // if events
%>
