<h1>Find Movies:</h1>

<p>
    <button class="btn" onClick="document.location='/movies/sanfrancisco'">San Francisco</button>
</p>

<h2>Movies:</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Theatres</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% movies.forEach(function(movie){ %>
    <tr>
        <td><h3><%= movie.title %>(<%= movie.releaseYear %>) </h3><% if (movie.genres) { %><br/>
            <p>
                <small><%= movie.genres.join(',') %></small>
            </p> <% } %>
            <% if (movie.preferredImage) { %>
            <div><img src="http://developer.tmsimg.com/<%= movie.preferredImage.uri %>"/></div>
            <% } %>
        </td>
        <td>
            <% movies.showtimes.forEach(function(st){ %>
            <h4><%= st.theatre.name %></h4>
            <p><%= st.dateTime %></p>
            <% }) %>
        </td>
        <td><%= movie.shortDescriiption %></td>
    </tr>

    <% }) // end forEach movies
    %>
    </tbody>
</table>