<h1>Find Movies:</h1>

<p>
    <button class="btn" onClick="document.location='/movies/sanfrancisco'">San Francisco</button>
</p>

<h2>Movies:</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Theatres</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% movies.forEach(function(movie){ %>
    <tr>
        <td><h3><%= movie.title %><% if (movie.releaseYear) { %>(<%= movie.releaseYear %>)<% } %></h3><% if (movie.genres) { %><br/>
            <p>
                <small><%= movie.genres.join(',') %></small>
            </p> <% } %>
            <% if (0 && movie.preferredImage) { %>
            <div><img src="http://developer.tmsimg.com/<%= movie.preferredImage.uri %>"/></div>
            <% } %>
        </td>
        <td>
            <%
            var lastTitle = '';
            _.each(schedule(movie.showtimes), function(st){
            if (st.times.length){
            %>
            <h4><%= st.theatre.name %></h4>
            <p><%= st.times.map(function(t){
                return t.format('hh:mm a');
                }).join('<br />') %></p>
            <%
            } // if
            }) %>
        </td>
        <td><%= movie.shortDescription %></td>
    </tr>

    <% }) // end forEach movies
    %>
    </tbody>
</table>