<h1>Find Movies:</h1>

<p>
    <button class="btn" onClick="document.location='/movies/sanfrancisco'">San Francisco</button>
</p>

<h2>Movies:</h2>

<table class="table table-bordered">
    <thead>
    <tr><th>Title</th>
    <th>Theatres</th>
    </tr>
    </thead>
    <tbody>
    <% movies.forEach(function(movie){ %>
    <tr>
        <td><h4><%= movie.title %>(<%= movie.lang %>)</h4>
        <div><img src="http://tmsapi.com/<%= movie.preferredImage.url %>" /></div>
        </td>
        <td>
            <%= _.uniq(_.pluck(movie.showtimes, 'theatre')).join(', ') %>
        </td>
    </tr>

    <% }) // end forEach movies
    %>
    </tbody>
</table>