/* ************ this is where you can customize your layout.*************** */

/* required for top navigation based sites */
body {
  /*  padding-top: 60px; */
    padding-bottom: 40px;
}

.movie .panel-heading {
    padding: 0px;
}

.movie .panel-title, .movie .panel-body {
    font-size: 80%;
    padding: 2px;
    line-height: 115%;
}

.movie {
    padding: 0.5em 0;
    border-top: 1px dotted rgb(200, 200, 200);
}

.movie h3 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.movie-list {
    font-size: 85%;
    font-weight: bold;
    list-style: square;
}

.movie .movie-title {
    padding-left: 0.8em;
}

.cities {
    font-size: 150%;

}

.cities .active {
    background-color: rgb(255, 131, 2);
}

.event-times {
    padding: 0.5em;
    margin: 0.125em;
    width: 24%;
    display: inline-block;
    border: 1px solid rgb(0,0,0);
}
.event-times h3.event-times-venue button {
    color: white;
    background-color: black;
}
.event-times h3.event-times-venue {
    font-size: 80%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.event-times li {
    list-style-type: none;
    margin-left: 0;
    padding-le: 0;
}

.event-times i {
    color: rgb(150,150,150);
    font-style: normal;
}